/* * {
  border: red 1px solid;
} */
.form-div {
  display: inline-block;
  padding: 10px 20px 20px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: #65dbfb 3px solid;
  border-radius: 3ch;
}
.input-from {
  display: block;
  margin-top: 20px;
  height: 30px;
  border-radius: .5ch;
  border: #65dbfb 1px solid;
  width: 500px;
  text-decoration: none;
  font-size: 14px;
}
.submit-btn {
  border-radius: .5ch;
  border: blueviolet 1px solid;
  background-color: white;
  color: blueviolet;
  padding: 5px 15px;
  font-size: 16px;
  margin-top: 25px;
}
.submit-btn:hover {
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}
h3 {
  color: blueviolet;
}